.form__inputs{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.form__input{
    padding: 0.5rem;
}

.form__inputs p{
    color: var(--error-color);
    font-size: 1.3rem;
}

.form{
    width: 50%;
    padding: 5rem;
}

.form__title{
    margin-bottom: 3rem;
}

.form__label{
    font-size: 1.5rem;
}

.form__btn{
    padding: 1.2rem 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: var(--blue);
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    letter-spacing: 0.7px;
}